[Desktop Entry]
Name=Connect bluethooth headphones
Comment=Connects bluetooth headphones in case the cannot be connected manually
Exec="/home/jan/tools/utils/connect-audio.py"
Terminal=false
Type=Application
Icon=/home/jan/tools/utils/bt-heaphones.png
Categories=Utility;
